body {
  background: #313639;
  font-family: "Muli", sans-serif;
}
header {
  display: flex;
  justify-content: center;
  font-size: 25px;
}
.top-divs {
  margin: auto 10%;
}
a {
  color: #f9f9f9;
  text-decoration: none;
}
#main-center {
  display: flex;
  justify-content: center;
}
#main-grid {
  display: grid;
  grid-template-rows: 70px 300px 35px 300px;
  grid-template-columns: 300px 100px 300px;
}
.projects {
  margin: 5%;
  color: #f9f9f9;
  text-align: center;
  position: relative;
}
.textContainer {
  transition: 0.4s ease;
  opacity: 0;
  position: absolute;
  bottom: 0;
  background: #313639;
}
.projects:hover {
  opacity: 0.75;
  border: 2px solid #f9f9f9;
}
.projects:hover .textContainer {
  opacity: 1;
}
.text {
  font-size: 14px;
}
.projectLinks {
  border: 2px solid #f9f9f9;
  padding: 0 2% 0;
}
#fourthRock {
  grid-row: 2 / span 1;
  grid-column: 1 / span 1;
  background: url("./images/fourthRock.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
#exoplanet {
  grid-row: 2 / span 1;
  grid-column: 3 / span 1;
  background: url("./images/exoplanet.png");
  background-size: cover;
}
#pinstagram500 {
  grid-row: 4 / span 1;
  grid-column: 1 / span 1;
  background: url("./images/pinstagram500.png");
  background-size: cover;
  background-position: center;
}
#simon {
  grid-row: 4 / span 1;
  grid-column: 3 / span 1;
  background: url("./images/simon.png");
  background-size: cover;
}
@media only screen and (max-width: 600px) {
  .top-divs {
    margin: auto 5%;
  }
}
@media only screen and (max-width: 600px) {
  #main-grid {
    display: grid;
    grid-template-rows: 75px 300px 300px 300px 300px;
    grid-template-columns: 300px;
  }
  #fourthRock {
    grid-row: 2 / span 1;
    grid-column: 1 / span 1;
  }
  #exoplanet {
    grid-row: 3 / span 1;
    grid-column: 1 / span 1;
  }
  #pinstagram500 {
    grid-row: 4 / span 1;
    grid-column: 1 / span 1;
  }
  #simon {
    grid-row: 5 / span 1;
    grid-column: 1 / span 1;
  }
}
